<h3> <%= listing.escape('name') %> </h3>
<ul>
  <li> <%= listing.escape('price') %> </li>
  <li> <%= listing.escape('available') %> </li>
  <li> <%= listing.escape('reviews') %> </li>
  <li> <%= listing.escape('shop_id') %> </li>
  <li> <%= listing.escape('description') %> </li>
  <li> <%= listing.escape('policies') %> </li>
</ul>