<div class='margins center' id='items-found'>
	<h3> We found <%= listings.length %> items! </h3>
</div>

<div id='search-items' class='margins'>
	<% listings.each(function(listing) {  %>
		<div class='search-item-wrapper'>
			<a href='/#listings/<%= listing.get('id') %>'>
				<img src='<%= listing.mainImage().escape('url') %>'>
			</a>
			<div class='search-item-text'>
				<div><a class='search-item-name' href='/#listings/<%= listing.get('id') %>'><%= truncate(listing.escape('name'), 21) %></a></div>
				<div>
					<a class='search-item-shop-name'><%= truncate(listing.shop().escape('name'), 21) %></a>
					<div class='product-money'>
						<span class='product-price no-underline'>$<%= listing.escape('price') %></span>
						<span class='product-currency no-underline'>USD</span>
					</div>
				</div>
			</div>
		</div>
	<% }) %>
</div>