<div id='shop-details'>
	<div class='listing-shop-header-img'>
		<a href='/#shops/<%= shop.get('id') %>'>
			<img src='<%= shop.image().get('url') %>' class='user-img'>
		</a>
	</div>
	<div id='listing-shop-header-name'>
		<a href='/#shops/<%= shop.get('id') %>'>
			<%= shop.get('name') || "" %>
		</a>
	</div>
</div>
<div id='listing-shop-items'>
	<% shop.listings().each(function(listing) { %>
		<div class='listing-shop-header-img'>
			<a href='/#listings/<%= listing.get('id') %>'>
				<img src='<%= listing.get('url') %>' title='<%= listing.escape('name') %>'>
			</a>
		</div>
	<% }) %>
</div>