<div id='shop-header' class='margins'>
	<div id='shop-details'>
		<img>
		<h2>Shop Name</h2>
	</div>
	<div id='shop-items'>
		<img>
		<img>
		<img>
		<img>
		<img>
	</div>
</div>

<div id='shop-content' class='margins'>
	<div id='left-content'>
		<div id='image-viewer'>
			<div class='carousel slide' data-ride='carousel' data-interval='false' id='listing-carousel'>
				
				<ol class='carousel-indicators'>
					<% var len = listing.images().models.length; %>
					<% if(len) { %>
						<li data-target="#listing-carousel" data-slide-to="0" class='active'></li>
					<% } %>
					<% for(var x = 1; x < len; x++) { %>
						<li data-target="#listing-carousel" data-slide-to="<%= x %>"></li>
					<% } %>
				</ol>
					
				<div class='carousel-inner'>
					<% if(len) { %>
						<div class='item active'>
							<img src='<%= listing.images().models[0].get('url') %>'>
						</div>
					<% } %>
					<% _(listing.images().models).each(function(image, index) { %>
						<% if(index != 0) { %>
							<div class='item'>
								<img src='<%= image.get('url') %>'>
							</div>
						<% } %>
					<% }); %>
				</div>
				
				<a class='left carousel-control' href='#listing-carousel' data-slide='prev'>
					<span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
				</a>
				
				<a class='right carousel-control' href='#listing-carousel' data-slide='next'>
					<span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
				</a>
				
			</div>
		</div>
		
		<div id='listing-details'>
			<h3 class='center'> Details </h3>
			<p class='center'> <%= listing.get('description') %> </p>
		</div>
	</div>
	
	<div id='right-content'>
		<div id='item-panel' class='panel panel-default'>
			<div class='panel-heading'>
				<h1 class='panel-title'> Item Name: <%= listing.escape('name') %> </h2>
				<h5> Item Price: <%= listing.escape('price') %> </h3>
			</div>
			
			<div class='panel-body'>
				<h4> Num Available: <%= listing.escape('available') %> </h4>
				<p> Overview </p>
				<ul id='overview'>
					<li> Handmade </li>
					<li> Materials </li>
					<li> Feedback <%= listing.get('reviews') %> Reviews </li>
				</ul>
			</div>
			
			<div class='panel-footer'>
				<button class='btn'>Add to Cart</button>
			</div>
		</div>
		
		<div id='shop-panel' class='panel panel-default'>
			<div class='panel-heading'>
				<img>
				<h3 class='panel-title'> Shop Name </h3>
				<h3> Shop Location </h3>
			</div>
			
			<div class='panel-body'>
				<img>
				<img>
				<img>
				<img>
				<img>
			</div>
		</div>
	</div>
	
	<div id='related-items'>
		<h2> People who bought this item also liked </h2>
	</div>
	
</div>