<div class='panel panel-default favorite-item'>
	<div class='panel-heading'>
		<a href='/#listings/<%= featuredProduct.get('id') %>'>
			<img class="favorite-item-img" src='<%= featuredProduct.images().first().get('url') %>'>
		</a>
	</div>
				
	<div class='panel-body product-link'>
		<a href='/#listings/<%= featuredProduct.get('id') %>'> <%= featuredProduct.get('name').substring(0, 35) %></a>
		<div class='product-money'>
			<a href="" class='product-price no-underline'> $<%= featuredProduct.get('price') %>K </a>
			<a href="" class='product-currency no-underline'> USD </a>
		</div>
	</div>
				
	<div class='panel-body'>
		<div class='row'>
			<% products.forEach(function(product){ %>
				<div class='col-md-4'>
					<div class='image-border'>
						<a href='/#listings/<%= product.get('id') %>'> <img class='other-seller-product' src='<%= product.images().first().get('url') %>'> </a>
					</div>
				</div>
			<% }) %>
			<div class='col-md-4'>
				<div class='all-seller-listings'>
					<p> <%= shop.listings().length %> Products </p>
				</div>
			</div>
		</div>
	</div>
							
	<div class='panel-footer'>
		<div class='row'>
			<div class='col-md-4'>
				<div class='seller-image'>
					<img class='img-circle user-img' src="<%= shop.user().get('url') %>">
				</div>
			</div>
			<div class='col-md-8'>
				<div class='seller-bio'>
					<div class='seller-location'>
						<span> San Fransisco, California </span>
					</div>
					<div class='seller-rating'>
						<p>
							<% var x = 0 %>
							<% for(x = 0; x < shop.reviews().averageReview(); x++) { %>
								<span class='gold'>☆</span>
							<% } %>
							<% for(; x < 5; x++) { %>
								<span>☆</span>
							<% } %>
							<span> <%= shop.reviews().length %> Reviews </span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>