<div class='margins shop-wrapper clearfix'>
	<div id='shop-sidebar' class='clearfix'>
		<div class='shop-owner'>
		</div>
		<div class='shop-info'>
		</div>
	</div>
	<div id='shop-content' class='clearfix'>
		<div id='shop-banner'>
			<img src='<%= shop.banner().escape('url') %>'>
			<div id='shop-description'>
				<p> <%= marked(shop.escape('description')) %> </p>
			</div>
		</div>
		<div id='shop-search'>
		</div>
		<div id='shop-listings'>
			<% shop.listings().each(function(listing) { %>
				<div class='shop-item-wrapper'>
					<a href='/#listings/<%= listing.get('id') %>'>
						<img src='<%= listing.mainImage().escape('url') %>'>
					</a>
					<div class='shop-item-text'>
						<div>
							<a class='search-item-name' href='/#listings/<%= listing.get('id') %>'>
								<%= truncate(listing.escape('name'), 21) %>
							</a>
						</div>
						<div>
							<div class='product-money'>
								<span class='product-price no-underline'>$<%= listing.escape('price') %></span>
								<span class='product-currency no-underline'>USD</span>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</div>